{% extends 'base.html' %} {% load static %}

<link href="{% static 'css/shipping.css' %}" rel="stylesheet">

<head>
    <title>{%block title%}Confirm Order{%endblock title%}</title>
</head>

{% block content %}
<div class="container wrapper">


    <div class="row cart-body">
        <div class="col-lg-8 col-md-8 col-sm-12 receipt">
            <h2>Order Summary</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, item in cart.items %}
                    <tr>
                        <td><img src="{{ item.image }}" alt="{{ item.name }}" class="img-thumbnail" style="width: 50px; height: 50px;"></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-right"><b>Total Cost: ${{ total_cost }}</b></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 checkout-summary">
            <h2>Total</h2>
            <p>Total Cost: ${{ total_cost }}</p>
            <h2>Shipping</h2>
            <p>{{ shipping.address }}, {{ shipping.city }}, {{ shipping.country }}, {{ shipping.postal_code }}</p>
            <h2>Payment</h2>
            <div id="paypal-button-container"></div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AaucYPMaRFUh-_oxSoxOl5wSEZEgHaFUfVqopKBgVd2kabPxvSmW1j6ZZymBkLq7y8ryclXS9YVLQWwB&components=buttons"></script>
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ total_cost }}'
                        }
                    }]
                });
            },

            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    window.location.href = "{% url 'order_complete' %}";
                });
            },
            style: {
                layout: 'vertical',
                shape: 'rect',
                color: 'silver',
                height: 40,
                tagline: false,
                windowSize: 'small'
            },
        }).render('#paypal-button-container');
    </script>

</div>

{% endblock %}