{% extends 'base.html' %}{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Shopping Cart{%endblock title%}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
{% block content %}

<body>

    <section class="h-100">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0">Shopping Cart</h3>
                    </div>

                    {% if cart %} {% for key, item in cart.items %}
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="{{ item.image }}" class="img-fluid rounded-3" alt="{{ item.product.name }}" style="height: 150px; object-fit: cover;">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{ item.name }}</p>
                                    <p><span class="text-muted">Price: </span><span class="item-price">${{ item.price }}</span></p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2" onclick="updateQuantity(this, -1)">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input id="quantity-{{ forloop.counter }}" min="0" name="quantity" value="{{ item.quantity }}" type="number" class="form-control form-control-sm" onchange="updatePrice(this)" />
                                    <button class="btn btn-link px-2" onclick="updateQuantity(this, 1)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0 total-price" id="total-price-{{ forloop.counter }}">${{ item.total_price }}</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <form method="POST" action="{% url 'removeCartItem' key %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link text-danger" aria-label="Remove item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="flex-fill">
                                <h4>Total Cost: <span id="overall-total-cost">${{ total_cost }}</span></h4>
                            </div>
                            <a href="{% url 'shipping' %}" class="btn btn-primary">Proceed to Checkout</a>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-center">Your cart is empty.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script>
        function updateQuantity(button, change) {
            const quantityInput = button.parentNode.querySelector('input[type=number]');
            let newQuantity = parseInt(quantityInput.value) + change;

            if (newQuantity < 0) {
                newQuantity = 0; // Prevent negative quantity
            }
            quantityInput.value = newQuantity;
            updatePrice(quantityInput);
        }

        function updatePrice(input) {
            const itemPrice = parseFloat(input.closest('.row').querySelector('.item-price').innerText.replace('$', ''));
            const quantity = parseInt(input.value);
            const totalPrice = (itemPrice * quantity).toFixed(2);
            input.closest('.row').querySelector('.total-price').innerText = `$${totalPrice}`;

            // Update overall total cost
            updateOverallTotal();
        }

        function updateOverallTotal() {
            const totalPrices = document.querySelectorAll('.total-price');
            let overallTotal = 0;

            totalPrices.forEach(price => {
                overallTotal += parseFloat(price.innerText.replace('$', ''));
            });

            document.getElementById('overall-total-cost').innerText = `$${overallTotal.toFixed(2)}`;
        }
    </script>
</body>
{% endblock %}

</html>